---
- name: Playbook for role testing
  hosts: all
  connection: paramiko

  vars:
    operator_user: ubuntu
    configure_aptly: yes
    configure_nginx: yes
    configure_registry: yes

  roles:
    - role: ansible-mirror
